*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    margin-bottom: 10px;
    gap: 20px;
}
h1{
    width: 100%;
    background-color: #444;
    text-align: center;
    padding: 4px;
}
form{
    display: flex;
}
label{
    color: yellow;
    font: 12px;
}
.peso{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}
.altura{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}
textarea{
    margin-top: 5px;
    text-align: center;
    padding-top: 7px;
    font-size: 14px;
    background-color: #444;
    color: yellow;
    border-radius: 8px;
}
button{
    padding: 5px;
    font-size: 16px;
    background-color: yellow;
    border-radius: 8px;
}
.mostrar1{
    color: greenyellow;
    font-size: 16px;
    margin-top: 5px;
}
.mostrar2{
    color: red;
    font-size: 16px;
    margin-top: 5px;
}