* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.portada{
    position: relative;
    z-index: 1;
    color: white; 
    background: none;
    align-items: center;
    text-align: center;
    top: -400px;
    font-size: 50px;
}
.menu {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #0078D7;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 17px;
}
.movible{
    position: fixed;
    z-index: 2;
}

.imagen-titulo {
    max-width: 185px;
    max-height: auto;
    width: 100%;
    height: auto;
}

body {
    background-color: white;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
li {
    display: flex;
    align-items: center;
}

.menu-principal{
    display: flex;
    gap: 20px;
    color: white;
    font-weight: bold;
}
.menu-principal {
    position: relative;
    left: 60px;
}
.menu-secundario{
    margin-right: 15px;
    position: relative;
    color: white;
    gap: 7px;
}
.buscar{
    width: 25px;
    height: 25px;
    margin-right: 15px;
}
.iniciar-sesion{
    background-color: #0078D7;
    color: white;
    padding: 7px 16px;
    border: 2px solid white;
    border-radius: 30px;
    font-weight:600;
    font-size: 14px;
}
.registrarse{
    background-color: white;
    color: #0078D7;
    padding: 8px 15px;
    border: 2px solid #0078D7;
    border-radius: 30px;
    font-weight:600;
    font-size: 14px;
}
video{
    height: 532px;
    width: 100%;
    object-fit: cover;
    position: relative;
    top: 50px;
}
.play-pause-button {
    position: absolute;
    bottom: 204px;
    right: 10px;
    background-color: white;
    color: rgb(255, 255, 255); 
    cursor: pointer;
    border-radius: 50%;
    font-size: 16px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(103, 102, 102);
}
.play-pause-button img {
    width: 15px;
    height: 22px;
}
.poster-container {
    position: relative;
    display: inline-block;
    left: 490px;
    top: -100px;

}

.poster {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.516);
}

.play {
    background-color: #0078D7;
    color: white;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 155px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

.boton-play {
    height: 24px;
    width: 24px;
    position: relative;
    margin-right: 8px;
    right: 5px;
}

.play span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.description{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    top: -90px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6;
    gap: 20px;
    color: #484747;
}
.botones{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.boton{
    gap: 10px;
    background-color: #0078D7;
    color: white;
    padding: 7px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.figuras{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    position: relative;
    top: -70px;
}
.figuras h3{
    margin: 5px auto 40px;
    text-align: center;
    font-size: 18px;
    color: #2d2d2d;
}
.figuras p{
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
}
.primera-imagen{
    position: relative;
    left: 18px;
}
section a{
    color: rgb(0, 110, 255);
    top: 20px;
    position: relative;
    justify-content: space-around;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 16px;
}
.medio{
    display: flex;
}
.centrar{
    position: relative;
    top: 45px;
}
h4{
    font-size: 33px;
    font-weight: lighter;
    align-items: center;
    text-align: center;
    position: relative;
    top:85px;
    color: white;
}
.adorno{
    position: relative;
    z-index: -1;
    top: -85px;
}
h5{
    color: rgb(3, 50, 237);
    align-items: center;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    top:-20px;
    font-family:artifakt-legend, sans-serif;
}
.otro-parrafo p{
    text-align: center;
    align-items: center;
    font-size: 16px;
    color: rgba(83, 82, 82, 0.829);
}
.articulos{
    position: relative;
    top: 190px;
    justify-content: space-between;
}
.desing-1{
    display: flex;
    position: relative;
    justify-content: space-around;
}
.desing-1 .play-pause-button{
    right: 280px;
    top: 280px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    left: 35px;
}  
.container p:nth-child(1){
font-size: 17px;
}
.azul{
    color: rgb(0, 132, 255);
    font-size: 24px;
}
.container p:nth-child(3){
    font-size: 16px;
    color: #5A6E73;
    line-height: 1.6;
}
.accesorio{
    margin-bottom: 230px;
}
.container button{
    background-color: rgb(0, 132, 255);
    border-radius: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 7px 0;;
    text-align: center;
    width: 44%;
    font-size: 15px;
    font-weight: bold;
}
.container-1 video{
    height: 150px;
    width: auto;
}
.otro{
    position: relative;
    top: 164px;
    right: 60px;
    width: 25px;
    height: auto;
}
.verde{
    color: green;
    font-size: 24px;
}
.container .button-green{
    border-radius: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 10px 0;;
    text-align: center;
    width: 44%;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(13, 125, 13);
}
.middle-video{
    position: relative;
    width: 500px;
    height: 1000px;
}
.purple{
    color: purple;
    font-size: 24px;
}
.container .button-purple{
    border-radius: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 10px 0;;
    text-align: center;
    width: 44%;
    font-size: 15px;
    font-weight: bold;
    background-color: purple;
}