*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 255, 255, 0.832);
}
.box-1{
    background: linear-gradient(rgb(72, 9, 9) -20%, rgb(1, 1, 16));
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background: linear-gradient(to top,rgb(72, 9, 9),rgb(1, 1, 16) 70%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 100vh;
    flex-direction: column;
}
.art img{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
}
.box-1{
    flex-direction: column;
    width: 350px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(26, 26, 26), -2px -2px 10px rgb(26, 26, 26);
}
.art-name{
    text-align: center;
    overflow: hidden;
    width: 170px;
}
.box-1 h4{
    margin-bottom: 35px;
}
.art-name{
    white-space: nowrap;
    font-family: cursive;
    font-weight: bold;
}
.round{
    animation: round 4s linear infinite;
}
@keyframes round {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.run{
    animation: run 6s linear infinite;
}
@keyframes run {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(-100%);
    }
}
.ctrl{
    cursor: pointer;
    background-color: rgba(245, 245, 245, 0.561) ;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0px 15px;
}
.ctrl:active{
    transform: scale(0.9);
}
i{
    font-size: 22px;
}
.none{
    display: none;
}
.msc{
    margin-top: 30px;
}
.prog{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 80%;
}
.time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.line{
    width: 100%;
    height: 5px;
    margin-top: 5px;
    background-color: rgb(202, 202, 202);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.lineChild{
    cursor: pointer;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(7, 7, 70);
    width: 0%;
    height: 100%;
    transition: width 0.1s;
}
.lineChild::after{
    content: "";
    position: absolute;
    background-color: rgb(62, 9, 91);
    cursor: pointer;
    top: -3px;
    right: 0;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}
.fa-backward-step{
    display: flex;
    position: relative;
    height: 22px;
}
.fa-foward-step{
    display: flex;
    position: relative;
    left: 3px;
    height: 30px;
}
.fa-play{
    display: flex;
    position: relative;
    left: 1px;
    height: 30px;
}
.fa-pause{
    display: none;
    position: relative;
    height: 30px;
}
.player-controls {
    display: flex;
    align-items: center;
    padding: 10px; 
}

.volume-control {
    display: flex;
    top: 20px;
    position: relative;
}

.volume-icon {
    margin-right: 5px;
    right: 0px;
    position: relative;
    z-index: 1;
}

.volume-slider {
    width: 100px;
    position: relative;
    right: 80px;
}
.volume-btn{
    border-radius: 50%;
    position: relative;
    right: 80px;
    z-index:0;
    background-color: rgba(35, 35, 35, 0.861);
    padding: 5px;
    cursor: pointer;
    border: none;
}
.volume-slider {
    -webkit-appearance: none;
    height: 5px;
    background: #df8282; 
    outline: none;
    border-radius: 5px;
    position: relative;
    top: 18px;
}

.volume-slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #a13636;
    border-radius: 50%;
    cursor: pointer
}

.volume-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #b24cf6;
    border-radius: 50%;
    cursor: pointer;
}
.volume-btn:focus{
    transform: scale(0.9);
}
.volume-icon.muted {
    filter: brightness(0) saturate(100%) sepia(100%) hue-rotate(180deg);
}
#vlm{
    display: flex;
}
.no-sonido{
    display: none;
    position: relative;
    bottom: 0px;
    left: 2px;
}
