*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
label{
    font-size: 20px;
    margin-top: 8px;
}
input{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
}
button{
    margin-top: 20px;
    padding: 10px 50px;
    align-self: center;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
}
form p{
    font-size: 20px;
    margin: 10px 1px;
}
.resultados{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}
.parrafo{
    font-size: 0px;
    transition: all 0.5s ease;
}
.mostrar{
    font-size: 20px;
}
.imagen{
    background-color: blue;
    background-image: url(WhatsApp\ Image\ 2024-12-02\ at\ 7.00.51\ PM.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
}
.bajo{
    background-position: -6px -1px;
    width: 180px;
    height: 155px;
}
.normal{
    background-position: -217px -1px;
    width: 180px;
    height: 155px;
}
.sobrepeso{
    background-position: -405px -1px;
    width: 200px;
    height: 155px;
}
.obeso{
    background-position: -405px -1px;
    width: 200px;
    height: 155px;
}